body {
  background-image: url(bg1.jpg);
  height: 100%;
  /* width: 100%; */
  background-position: center;
  background-size: auto;
  background-color: #b6d1e4;
  opacity:5.0;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center;  */
  min-height: 100vh;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

img {
  width: 30%;
  align-items: center;
  margin-left: 560px;
  margin-top: 15px;
}

img:hover {
  transform: scale(1.1);
  background: linear-gradient(to right, #923453, #a8260e);
  align-items: center;
}

@media only screen and (max-width: 770px) {
  .container {
    margin: 0 20%;
  }
}

  img {
    width: 100%;
    margin-left: 150px;
  }

  