body{
  background-color: lavender;
}
.container{
  max-width: 400px;
  min-height: 500px;
  margin: 0 auto;
  background-color: #efefef;
  box-shadow: 0 0 10px gray;
  margin-top: 10px;
  margin-bottom: 10;
  padding: 30px 10px;
  background-color: #008dff;
  border-radius: 10%;
  transform-origin: bottom;
  transform: translateX(7%) scale(1);
}

.text-center {
  text-align: center;
  text-decoration: transparent;
  text-decoration-style: dotted;
  text-shadow: #efefef;
}

.expense-container {
  display: flex;
  justify-content: space-around;
  background-color: white;
  box-shadow: 0 0 10px rgb(110, 79, 79);
}

.trnsaction-list {
  margin: 0;
  padding: 0;
  background-clip: padding-box;
}

.trnsaction-list > li {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 10px gray;
  padding: 10px 15px;
  background-color: white;
  margin: 5px 0;
  border-radius: 4px;
}

.transaction-form{
  width: 90%;
  margin: 5px 0;
  padding: 10px 15px;
  border-radius: 4px;
  border-style: groove;
  background: #efefef;
}
input[type=text] {
  width: 100%;
  padding:5px; 
  border:2px solid #ccc; 
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

input[type=text]:focus {
  border-color:#333;
}
input[type=number] {
  width: 100%;
  padding:5px; 
  border:2px solid #ccc; 
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

input[type=number]:focus {
  border-color:#333;
}
input[type=submit] {
  padding:5px; 
  border:2px solid #ccc; 
  -webkit-border-radius: 5px;
  border-radius: 50% 50% 0 0;
  background-color: grey;
  
}
